PORT=8000

NODE_ENV=development
JWT_SECRET=secret
REFRESH_TOKEN_SECRET=secret2

# Founder email - signup is blocked until this email registers (production only)
#FOUNDER_EMAIL="founder@example.com"

DATABASE_URL="postgres://pollpapa:changeme@localhost:5432/pollpapa"

INTEGRATIONS_API_KEY="123"

LOG_TO_FILE=false
FILE_LOGS_FOLDER="./tmp/logs"
FILES_UPLOAD_FOLDER="./tmp/uploads"
FILE_TEMP_FOLDER="./tmp/temp"

# Set to enable a Demo account that have 0000 as OTP: 
#DEMO_ACCOUNT_APP_ID='00000000-0000-0000-0000-000000000000'

ADMINJS_ENABLED=true
#ADMINJS_LICENSE_KEY="..."

# When true, you can use tokens from the test/users.fixtures.ts file, eg: token_user1
SIMULATE_FIREBASE=true

# Set any of these to use the real firebase, to loging, you need also FIREBASE_DEV_WEB_APP_CONFIG, create a user in Firebase console, and run pnpm firebase:login <user>@pollpapa.com changeme
#FIREBASE_PROJECT_ID="..."
#FIREBASE_CLIENT_EMAIL="..."
#FIREBASE_PRIVATE_KEY="..."
# Used in local dev to easily login to firebase using pnpm firebase:login. Take this from Firebase Apps Settings page:
#FIREBASE_DEV_WEB_APP_CONFIG="{
#    apiKey: '...',
#    authDomain: '<project-id>.firebaseapp.com',
#    projectId: '<project-id>',
#    storageBucket: '<project-id>.firebasestorage.app',
#    messagingSenderId: '...',
#    appId: '...',
#    measurementId: '...',
#  }"

# Set to true to simulate cloudinary in development and upload files to the local /upload folder instead:
SIMULATE_CLOUDINARY=true
# CLOUDINARY_API_KEY=
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_SECRET=
# CLOUDINARY_LARGE_FILE_THRESHOLD=

# Set to true to simulate aws in development and send sms to the console instead:
SIMULATE_AWS=true
# AWS_ACCESS_KEY_ID=test
# AWS_SECRET_ACCESS_KEY=test
# AWS_REGION=us-east-1

SIMULATE_STREAM=true
#STREAM_API_KEY=
#STREAM_API_SECRET=

SIMULATE_CONTRACTS=true
#CONTRACTS_CHAIN_ID="anketa-testnet"
#CONTRACTS_PREFIX="anketa"
#CONTRACTS_DENOM="uanketa"
#CONTRACTS_ENDPOINT=" http://anketa-uat-blockchain-lb-83bf5bd19273efc0.elb.us-east-1.amazonaws.com:26657/"
#CONTRACTS_ADMIN_MNEMONIC="culture ten bar chase cross obey margin owner recycle trim valid logic forward mixed render have patrol dynamic tuition choose thing salute inside blossom"
#TOKEN_MODEL_CONTRACT_ADDRESS="anketa12njsx22ne73swjqxxn5e7xtc2n95y2aw8r73cqdth0g86way24cqmt52r4"
#TOKEN_MODEL_CONTRACT_CODE_ID="1"
#TOKEN_MODEL_CONTRACT_CHECKSUM="24cfba89c646738191e0913989ddee717f45babddeda10506d61c762599fd9d4"
#DATA_ONCHAIN_CONTRACT_ADDRESS="anketa1uukt3kqela4vsllvrqnrgllkna5wn3cmqfxvqpxz9g00956lcxsqya2jmf"
#DATA_ONCHAIN_CONTRACT_CODE_ID="6"
#DATA_ONCHAIN_CONTRACT_CHECKSUM="b86e7ef79c545a3c8b01d414edfcf0444cd0a4dd42cc995e48819929b45dfadd"

# Will simulate outbound events, on dev can set to false and run pnpm inngest:dev to have real events
SIMULATE_INNGEST=true
# NB: not needed on dev, just run pnpm inngest:dev
#INNGEST_EVENT_KEY=""
#INNGEST_SIGNING_KEY=""
# Set to "true" to force to production mode (should be auto when INNGEST_SIGNING_KEY is set):
#INNGEST_PROD_MODE="true" 

AWS_SES_ENABLED=false
AWS_SES_FROM_EMAIL="noreply@anketa.com"
SES_KEY="AK###"
SES_SECRET="VO####"
SES_REGION="us-east-1"

# To test datadog:
# DD_ENABLED=true
# DD_LOGS_INJECTION=true
# DD_TRACE_DEBUG=true
# DD_ENV="development"